{% load i18n %}
{% load staticfiles %}
{% load filetypes %}
<html>
	<head>
		<title>{% block title %}Template{% endblock %} - Html Web Deploy</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="Marco Marinello" >
		
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">
		<link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
		<script type="text/javascript" src="{% static 'js/jquery.js' %}" ></script>
		<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}" ></script>
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#navbar"
						aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Html Web Deploy</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
   	           		<b>{{ user.get_full_name }}</b> ({{ user.username }})
	              		<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							{% if user.is_staff %}
						<li style="margin-top: 5px;"><a href="{% url 'admin:index' %}">
							<span class="label label-warning" style="font-size: large; margin-top: 10px;">{% trans "Managment" %}</span></a>
						</li>
						{% endif %}
						<li style="margin-top: 15px; margin-bottom: 5px;"><a href="{% url 'logout' %}">
      	      		<span class="label label-primary" style="font-size: large; margin-top: 10px;">{% trans "Logout" %}</span></a>
   	         	</li>
	            </ul>
        			</li>
					</ul>
				</div>
			</div>
		</nav>
		{% block rnav %}{% endblock %}
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		{% if messages %}
		{% for message in messages %}
		<div class="alert alert-{{message.tags}}" id="alert" onclick="document.getElementById('alert').style.display='none';">
			<b><span>{{ message }}</span></b>
			<a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
		</div>
		{% endfor %}
		{% endif %}
		{% block content %}{% endblock %}
		</div>
		</div>
		</div>
	</body>
</html>