{% extends "hwd/base.html" %}
{% load i18n %}{% load filetypes %}{% load static %}
{% block title %}{% trans "Dashboard" %}{% endblock %}
{% block rnav %}		
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3 col-md-2 sidebar">
					<ul class="nav nav-sidebar">
						<li class="active"><a href="#">{% trans "Dashboard" %} <span class="sr-only">(current)</span></a></li>
					</ul>
				</div>
				{% endblock %}{% block content %}
					{% if act %}
					<div class="alert alert-success">
						<strong>{% trans "Page were deleted successfully" %}</strong>
					</div>
					{% endif %}
					<h1 class="page-header">
						<table style="width: 100%"><tbody><tr><td>
						<h1>{% trans "Dashboard" %}</h1>
						</td><td style="text-align: right;">
						<div class="toolbar" style="text-align: right;">
							<button onclick="document.getElementById('newpage').style.display='';">
								<img src="{% static 'img/add-html.png' %}" alt="{% trans 'Create a new page' %}">
							</button>
							<button onclick="location.href='{% url 'work-upload-page' %}';">
								<img src="{% static 'img/html-upload.png' %}" alt="{% trans 'Upload a page' %}">
							</button>
							<button onclick="location.href='{% url 'work-new-attach' %}';">
								<img src="{% static 'img/add-attach.png' %}" alt="{% trans 'Upload an attach' %}">
							</button>
						</div>
						</td></tr></tbody></table>
					</h1>
					
					<div id="newpage" style="display: none; text-align: right;">
					<form action="{% url 'work-new-page' %}" method="POST">
						{% csrf_token %}
						<input type="text" name="pagename" placeholder="{% trans 'Page name' %}">
						<input type="submit" value="{% trans 'Create page' %}">
					</form>
					</div>
					
					<h2><b>{% trans "Your Pages" %}</b></h2>
					{% if not pages %}<b>{% trans "You haven't till created any page" %}!</b>{% else %}
					<table class="table table-striped">
						<thead>
							<tr>
								<td></td>
								<td>{% trans "Name" %}</td>
								<td>{% trans "Latest modify" %}</td>
								<td>{% trans "Actions" %}</td>
							</tr>
						</thead>
						<tbody>
						{% for i in pages %}
							<tr><td>{% if i.name|fileicon %}
							<img src="{% static i.name|fileicon %}">
							{% endif %}</td>
								<td>{{ i.name }}</td>
								<td>{{ i.last_modify }}</td>
								<td>
								<button onclick="location.href='{% url 'work-edit-page' %}?page={{ i.name }}';">
									<img src="{% static 'img/edit.png' %}">
								</button>
								<button onclick='window.open("/users/{{ user.username }}/{{ i.name }}", "_blank").focus();'>
		                  	<img src="{% static 'img/link.png' %}">
                		   </button>
								<button onclick="if (confirm('{% trans 'Really delete the page?' %}')) {location.href='{% url 'work-drop-page' %}?pagename={{ i.name }}';}">
									<img src="{% static 'img/drop.png' %}">
								</button>
								</td></tr>
						{% endfor %}
						</tbody>
					</table>
					{% endif %}
					<br>
					<h2><b>{% trans "Your attachments" %}</b></h2>
					{% if not attachs %}<b>{% trans "You haven't till uploaded any attachment" %}!</b>{% else %}
					<table class="table table-striped">
						<thead>
							<tr>
								<td></td>
								<td>{% trans "Name" %}</td>
								<td>{% trans "Latest modify" %}</td>
								<td>{% trans "Actions" %}</td>
							</tr>
						</thead>
						<tbody>
						{% for i in attachs %}
							<tr><td>{% if i.name|fileicon %}
							<img src="{% static i.name|fileicon %}">
							{% endif %}</td>
								<td>{{ i.name }}</td>
								<td>{{ i.last_modify }}</td>
								<td><button onclick="location.href='{% url 'work-attach-view' %}?name={{ i.name }}';">
									<img src="{% static 'img/link.png' %}">
								</button>
								<button onclick='if (confirm("{% trans 'Really delete the file' %}?")) {location.href="{% url 'work-attach-drop' %}?name={{ i.name }}";}'>
									<img src="{% static 'img/drop.png' %}">
								</button>
								</td></tr>
						{% endfor %}
						</tbody>
					</table>
					{% endif %}
{% endblock %}