{% load i18n %}
{% load staticfiles %}
<html>
	<head>
		<title>{% trans "Login" %} - HTML Web Deploy</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width">
		<meta name="author" content="Marco Marinello" >
		
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">
		<link href="{% static 'css/cover.css' %}" rel="stylesheet">
	</head>
	<body>
		<div class="site-wrapper">
			<div class="site-wrapper-inner">
				<div class="inner cover">
					<div class="container">
						<img src="{% static 'img/hwd.png' %}">
						<br><br>
						<input type="text" name="username" placeholder="{% trans 'Username' %}"
							required autofocus>
						<br>
						<input type="password" name="password" placeholder="{% trans 'Password' %}"
							required>
						<br><br>
						<input type="submit" value="{% trans 'Login' %}">
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
