{% load i18n %}{% load staticfiles %}{% load settingsvars %}<html>
	<head>
		<title>{% trans "Welcome" %}! - HTML Web Deploy</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="Marco Marinello" >
		
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">
		<link href="{% static 'css/cover.css' %}" rel="stylesheet">
		<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
		<script type="text/javascript">
			function show_user() {
				var img = document.getElementById("img")
				var rw = img.width / 100 * 75;
				var rh = img.height / 100 * 75;
				
				$("#img").animate({
					height: rh,
					width: rw
				})				
				
				$("#userdiv").slideToggle();
				$("#username").focus();
				img.onclick = "";
				return true;
			}
			
			function pass_pass() {
				$("#userdiv").slideToggle();
				$("#passdiv").slideToggle();
				$("#password").focus();
			}
			
			function do_submit() {
				document.getElementById("form").submit();
			}
		</script>
	</head>
	<body>
		<div class="site-wrapper">
			<div class="site-wrapper-inner">
				<div class="inner cover">
					{% if messages %}
					{% for message in messages %}
					<div class="alert alert-{{message.tags}} alert-dismissable" role="alert">
						{{ message }}
						<a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
					</div>
					{% endfor %}
					{% endif %}
					<div class="container"><h1 class="cover-heading">
						<img id="img" src="{% static 'img/hwd.png' %}" onclick="show_user();">
						<br><br>
						HTML Web Deploy
					</h1>
					<h3>v. {{ "VERSION"|settings_var }} "{{ "CODENAME"|settings_var }}"</h3>
					<form id="form" action="{% url 'login' %}" method="POST" onsubmit="return false;">
					{% csrf_token %}
					{% if next %}<input type="hidden" name="next" value="{{ next }}">{% endif %}
					<div style="display: none" id="userdiv">
						<br>
						<input type="text" name="username" placeholder="{% trans 'Username' %}"
							id="username" required autofocus
							onkeydown="if (event.keyCode == 13) pass_pass();">
						<input type="button" value="{% trans 'Login' %}" onclick="pass_pass();">
					</div>
					<div style="display: none" id="passdiv">
						<br>
						<input type="password" name="password" placeholder="{% trans 'Password' %}"
							onkeydown="if (event.keyCode == 13) do_submit();" id="password">
						<input type="button" value="{% trans 'Login' %}"
							onclick="do_submit();">
					</div>
					</form>
					<br><small>
						{% trans "Realized for High School E. Torricelli by" %}
						<br>
						Copyright (&copy;) 2016 Marco Marinello
					</small>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
