{% load i18n %}
<html>
	<head>
		<title>{{ username }} {% trans "haven't till created an index" %}</title>
	</head>
	<body>
		<h1>
			<i>{{ username }}</i>
			{% trans "haven't till created an index for his website" %}
		</h1>
		<hr><br>
		<big>
			{% trans "Create a file" %} <i>index.html</i>
			{% trans "in" %} <i>{% trans "Your files" %}</i>
			{% trans "and it will be shown here" %}.
			<br><br>
			{% trans "At work" %}!
		</big>
	</body>
</html>
