{% load i18n %}
<html>
	<head>
		<title>{{ username }} {% trans "does not exists" %}</title>
	</head>
	<body>
		<h1><center>
			{% trans "The user" %}
			<i>{{ username }}</i>
			{% trans "does not exists or haven't got a website" %}.
		</center></h1>
	</body>
</html>
