{% extends "hwd/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load filetypes %}
{% block title %}{% trans "Edit page" %}{% endblock %}
		{% block rnav %}
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3 col-md-2 sidebar">
					<ul class="nav nav-sidebar">
						<li><a href="{% url 'work' %}">{% trans "Dashboard" %}</a></li>
						<li class="active"><a href="#">{% trans "Edit page" %}</a></li>
					</ul>
				</div>
		{% endblock %}
		{% block content %}
					<h1 class="page-header">{% trans "Editing page" %} {{ pagename }}</h1>
					<table style="width: 100%"><tbody><tr><td>
					<h3>{% trans "Latest modify" %} {{ pagemod }}</h3>
					</td><td>
					<div style="text-align: right;">
						<button onclick="document.getElementById('form').submit();">
							<img src="{% static 'img/save.png' %}" style="margin-right: 10px;">
						</button>
						<button onclick='window.open("/users/{{ user.username }}/{{ pagename }}", "_blank").focus();'>
							<img src="{% static 'img/link.png' %}">
						</button>
					</div>
					</td></tr></tbody></table>
					<br><br>
					<form action="{% url 'work-save-page' %}" method="POST" id="form">
						<input type="hidden" name="page" value="{{ pagename }}">
						{% csrf_token %}
						<textarea name="content" style="width: 100%; height: 55%;">{{pagecont}}</textarea>
					</form>
		{% endblock %}