{% extends "hwd/base.html" %}
{% load i18n %}
{% block title %}{% trans "Upload a page" %}{% endblock %}
{% block rnav %}
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3 col-md-2 sidebar">
					<ul class="nav nav-sidebar">
						<li><a href="{% url 'work' %}">{% trans "Dashboard" %}</a></li>
						<li class="active"><a href="#">{% trans "Upload a page" %}</a></li>
					</ul>
				</div>
				{% endblock %}{% block content %}
					<h1 class="page-header">{% trans "Upload a page" %}</h1>
					<br>
					<form action="{% url 'work-do-html-upload' %}" method="POST" enctype="multipart/form-data"><b>
						{% csrf_token %}
						<script type="text/javascript" >
						function definefilename() {
							var fn = document.getElementById("name");
							var nf = document.getElementById("file");
							fn.value = nf.value;
						}
						</script>
						<input type="file" name="attach" onchange="definefilename()" id="file" accept=".html">
						<br><br>
						<div class="alert alert-warning">
							<strong>{% trans "Warning: the filename cannot contain any space" %}!</strong>
						</div>
						{% trans "Page name" %}:
						<input type="text" id="name" name="name" placeholder="{% trans 'Page name' %}" onfocus="definefilename()">
						<br><br>
						<input type="submit" value="{% trans 'Upload' %}">
						</b>
					</form>
{% endblock %}