{% extends "hwd/base.html" %}
{% load i18n %}{% load staticfiles %}{% load filetypes %}
{% block title %}{% trans "View an attachment" %}{% endblock %}
{% block rnav %}		
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3 col-md-2 sidebar">
					<ul class="nav nav-sidebar">
						<li><a href="{% url 'work' %}">{% trans "Dashboard" %}</a></li>
						<li class="active"><a href="#">{% trans "View an attachment" %}</a></li>
					</ul>
				</div>
				{% endblock %}{% block content %}
					<h1 class="page-header">{% trans "View attach" %} {{ attachname }}</h1>
					<script type="text/javascript" >
					function drop() {
						if (confirm("{% trans 'Really delete the file' %}?")) {
							location.href='{% url 'work-attach-drop' %}?name={{ attachname }}';
						}
					}
					</script>
					Link: <input type="text" value="{{ attach }}"> &nbsp;&nbsp;
					<img src="{% static 'img/drop.png' %}"
						onclick="drop()">
					<br><br>
					{% if attachname|is_image %}
					<img src="{{ attach }}">
					{% else %}
					<iframe src="{{ attach }}" style="max-height: 100%; max-width: 100%;">
					</iframe>
					{% endif %}
{% endblock %}